# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate.log

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.idea/workspace.xml

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.flutter-plugins-dependencies
**/ios/Flutter/ephemeral/
**/ios/Flutter/GeneratedPluginRegistrant.h
**/ios/Flutter/GeneratedPluginRegistrant.m
**/ios/Flutter/FlutterTaskList
**/android/local.properties
**/android/key.properties
**/android/.gradle/
**/android/app/src/main/java/io/flutter/plugins/
**/ios/Pods/
**/ios/Podfile.lock
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
.web_entrypoint.dart
.build_manifest.json
.source_maps/
/web/flutter_bootstrap.js

# Symbol database for VS Code
.symlinks/

# Coverage to submit to Coveralls
coverage/

# Fastlane related
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/
**/fastlane/packer_build.log
**/fastlane/metadata/

# Exclude signing certificates
**.p12
**.keystore
**.jks
**.mobileprovision
